.logs-wrapper {
  width: 100%;
  padding: 0 var(--padding);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--gap);
  margin-bottom: 1rem;
}

.logs-container {
  flex: 1;
  overflow: hidden;
  border: var(--card-border);
  padding: var(--padding);
  background: var(--card-bg);
  border-radius: var(--border-radius);
}

.logs-error {
  color: var(--red);
}

.logs-info {
  color: var(--text-secondary);
}
