.logs-wrapper {
  width: 100%;
  padding: 0 1rem;
}

.logs-settings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logs-container {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid var(--border);
  padding: 0.5rem;
  background-color: var(--dark);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.logs-error {
  color: var(--red);
}
