.log-entry {
  border-bottom: 1px solid var(--border);
  padding: 6px 0;
  font-family: monospace;
  /* font-size: 16px; */
}

.log-summary {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  list-style: none;
}

.log-summary::-webkit-details-marker {
  display: none;
}

.log-timestamp {
  color: var(--dark-gray);
}

.log-level {
  font-weight: bold;
}

.log-level-info {
  color: var(--selected);
}

.log-level-warn {
  color: var(--orange);
}

.log-level-error {
  color: var(--red);
}

.log-message {
  flex: 1;
}

.log-details {
  margin-top: 6px;
  padding-left: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
