.status-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 7rem;
  width: 7rem;
  aspect-ratio: 1/1;
  background-color: var(--dark);
  position: relative;
  gap: 0.1rem;
}

.status-card-label {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--light-gray);
}

.status-card-text {
  font-size: 1.7rem;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}

.status-red {
  background-color: color-mix(in srgb, var(--red) 25%, transparent);
}

.status-green {
  background-color: color-mix(in srgb, var(--green) 25%, transparent);
}

.status-gray {
  background-color: color-mix(in srgb, var(--deep-blue) 25%, transparent);
}

.status-interactive {
  cursor: pointer;
}

.status-arrows {
  position: absolute;
  right: 0rem;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  width: 7rem;
}

.status-arrows .arrow-up {
  border-bottom: 1px solid var(--border);
}

.status-arrows .arrow-down {
  border-top: 1px solid var(--border);
}

.status-arrows .arrow-up,
.status-arrows .arrow-down {
  border-radius: 0.5rem;
  text-align: center;
  padding: 0 2px;
  color: var(--light-gray);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: transform, filter;
  background-color: transparent;
}

.status-arrows .arrow-up:hover,
.status-arrows .arrow-down:hover {
  filter: brightness(1.2);
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.02);
}

.status-arrows .arrow-up:active,
.status-arrows .arrow-down:active {
  transform: scale(1);
}

.status-card-units {
  text-align: center;
  font-size: 0.7rem;
  color: var(--light-gray);
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.4rem;
}
