.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
}

.logo-text {
  color: var(--dark-gray);
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.logo {
  height: 1.5rem;
}
