.header {
  width: 100%;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  color: var(--text-primary);
  padding: var(--padding);
  margin-bottom: 1rem;
  justify-content: space-between;
}

.header .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  gap: 0.5rem;
}

.header .logo-text {
  color: var(--text-primary);
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-left: -2px;
}

.header .logo {
  height: 2rem;
}
