.header {
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid var(--border);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.header .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  gap: 0.2rem;
}

.header .logo-text {
  color: var(--dark-gray);
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-left: -2px;
}

.header .logo {
  height: 1.8rem;
}
